<%- include("partials/header"); %>
    <main>
        <!-- Hero Start-->
        <!-- <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Contact Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!--Hero End -->
        <!-- ================ contact section start ================= -->
        <section class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <h1 class="text-center">SET PASSWORD</h1>
                        <form class="form-contact contact_form" action="/setpassword/<%- customer._id %>" method="post">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input class="form-control valid" name="password" id="password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter password'" placeholder="Password">
                                    </div>
                                </div>
                                
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input class="form-control valid" name="repassword" id="repassword" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Your Password'" placeholder="Confirm your password">
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="id" value="<%- customer._id %>">
                            <div class="form-group mt-3 text-center">
                                <button type="submit" class="button button-contactForm boxed-btn">Set Password</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
        </section>
        <!-- ================ contact section end ================= -->

    </main>
<%- include("partials/footer"); %>
